<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="pCmsnFypeb6E4kV5MTGUqBTKR"/>
    <add key="consumerSecret" value="6apuAiOUTvFAeify3OQhKZ7dtccngVTVVYcGMHl8qiALhO4SRC"/>
    <add key="token" value="727610217467289600-sFSKObp8ObrnWQHzGlDaqFixmMzXw2X"/>
    <add key="tokenSecret" value="bc60OTgVCmYblFbAkMBI4QgsMDIjmiMDJ3WkXoO7LUGFl"/>
  </appSettings>
</configuration>